.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
  padding: 1rem;
}

.error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

mat-spinner {
  display: block;
  margin: 1rem auto;
}

.margin{
  margin-left: 10px;
}
